<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel = "stylesheet" type="text/css" th:href="@{/style.css}">

    <title>Hello, sbb!</title>
</head>
<body>
<!-- 내비게이션 바 -->
<nav th:replace="navbar :: navbarFragment"></nav>
<!-- 템플릿 -->
<th:block layout:fragment="content"></th:block>
<!-- 부트스트랩 자바스크립트 -->
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>